
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito'
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.moringaskul {
    font-size: 2.9rem;
    margin: 3rem;
    padding-left: 50px;
}
.navbarlinks ul {
    margin: 20px;
    padding: 0;
    display: flex;
}
.navbarlinks li {
    list-style: none;
    margin-right: 20px;
    font-size: larger;
    padding: 0;

}
.navbarlinks li a {
    text-decoration: none;
    color: black;
    padding: 3rem;
    display: block;
}
.navbarlinks li:hover {
    background-color: #EC4067;
}
.headerbutton {
    background-color: #EC4067;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.explorebutton {
     background-color: white;
    color: #EC4067;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: #EC4067;
    margin-left: 40px;}



.section1{
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: x-large;
}
.image1{
    float: right;
    width: 600px;
    height: auto;
    padding-bottom: 100px;
}
.section2{
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: medium;
}
.image2div{
    margin: 0%;
    padding-top: 150px;
}
.image2{
    float: left;
    width: 600px;
    height: auto;
    padding-bottom: 100px;
}
.orientation{
    margin-left: 800px;
    font-size: large;
    margin-top: 90px;
}
.section3{
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: medium;
}

.image3div{
    margin-right: 0;
    padding-top: 70px; 
}
.image3{
    float: right;
    width: 600px;
    height: auto;
    padding-bottom: 100px;
    margin-left: -200px;
     
}
.board {
    margin: 0px;
    width: 70%;
    padding: 100px;
    
}.section4 {
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: medium;
    display: inline-block;
}
.image4 {
    float: left;
    width: 650px;
    height: auto;
    padding-bottom: 100px
}
.graduation {
    margin-left: 800px;
    font-size: large;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 80px;
}

.section5 {
    margin: 0px;
    width: 90%;
    padding: 100px;
    font-size: large;}

.section5 {
    margin-top: 50px;
    text-align: left;
}
.section5 span{
    font-size: 15px;
}
.section5 h3 {
    font-size: large;
    color: #EC4067;
}
.section5 .mentors {
    justify-content: space-evenly;
    display: inline-block;
}
/* .section5 {
    margin-top: 60px;
    text-align: center;
}
.section5 h4 {
    font-size: 20px;
}
.section5 h3 {
    font-size: large;
    color: #EC4067;
}
.section5  .mentors {
    display: inline-block;
    width: auto;
    margin: 10px; 
    justify-content: left; */

.teambutton {
    background-color: #EC4067;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.items h1 {
    color: #EC4067;
    font-size: x-large;
}
.section6 .items {
    display: inline-block;
    width: 400px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 150px;
    margin-right: -80px;
}
.bikepic {
    float: right;
    margin-right: 450px;
}
.footer {
    background-color: beige;
    padding: 20px;
    text-align: center;
    margin: 25px 25px;
    padding-left: 100px;
}
button:hover{
    transform: scale(1.20);
}
img:hover {
    opacity: 0.8;
    box-shadow: 10px 10px 15px #EC4067;
}
    