body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
label {
    color: #EC4067;
    padding: 30px;
    margin-top: 20px;
    font-size: xx-large;
}

header li{
    display: inline;
    padding-left: 30px;
}
header li a {
    text-decoration: none;
    color: black;
}
.section1{
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: x-large;
}
.image1{
    float: right;
    width: 600px;
    height: auto;
    padding-bottom: 100px;
}
.section2{
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: medium;
}
.image2div{
    margin: 0%;
    padding-top: 150px;
}
.image2{
    float: left;
    width: 600px;
    height: auto;
    padding-bottom: 100px;
}
.orientation{
    margin-left: 800px;
    font-size: large;
    margin-top: 90px;
}
.section3{
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: medium;
}

.image3div{
    margin-right: 0;
    padding-top: 70px; 
}
.image3{
    float: right;
    width: 600px;
    height: auto;
    padding-bottom: 100px;
    margin-left: -200px;
     
}
.board {
    margin: 0px;
    width: 70%;
    padding: 100px;
    
}.section4 {
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: medium;
}
.image4 {
    float: left;
    width: 600px;
    height: auto;
    padding-bottom: 100px
}
.graduation {
    margin-left: 800px;
    font-size: large;
    margin-top: 300px;
}
.image4div {
    margin-right: -0;
    padding-top: 70px;  
}
.section5 {
    margin: 0px;
    width: 70%;
    padding: 100px;
    font-size: large;
}
.image4div {
    margin-right: 0;
    padding-top: 70px;
}
.section5 {
    margin-top: 50px;
    text-align:  ;
}
.section5 h4 {
    font-size: medium;
}
.section5 h3 {
    font-size: large;
    color: #EC4067;
}
.section5  .mentors {
    display: inline-block;
    width: auto
    margin: 5px; 
}
.items h1 {
    color: #EC4067;
    font-size: x-large;
}
.section6 .items {
    display: inline-block;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: -80px;
}
.bikepic {
    float: right;
    margin-right: 450px;

}

    